//Muller
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerExtraBold.woff') format('woff'),
    url('../fonts/muller/MullerExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerBold.woff') format('woff'),
    url('../fonts/muller/MullerBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerMedium.woff') format('woff'),
    url('../fonts/muller/MullerMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerRegular.woff') format('woff'),
    url('../fonts/muller/MullerRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerLight.woff') format('woff'),
    url('../fonts/muller/MullerLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

//Montserrat
@font-face {
    font-family: 'Montserrat';
    src:
    url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}