@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerExtraBold.woff") format("woff"), url("../fonts/muller/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerBold.woff") format("woff"), url("../fonts/muller/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerMedium.woff") format("woff"), url("../fonts/muller/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerRegular.woff") format("woff"), url("../fonts/muller/MullerRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerLight.woff") format("woff"), url("../fonts/muller/MullerLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Muller", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 120%;
  font-weight: 500;
  color: #323232;
}

.button {
  font-family: "Muller", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 110%;
  font-style: normal;
  color: #393939;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  box-shadow: inset 0px -4px 4.64286px rgba(0, 0, 0, 0.25);
  border-radius: 65px;
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  height: 75px;
}
.button:hover {
  transform: scale(1.03);
}
.button--back {
  background: #FFBD00;
  color: #104235;
}
.button--effect {
  position: relative;
  overflow: hidden;
}
.button--effect:hover {
  transform: none;
}
.button--effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  background: linear-gradient(to right top, transparent 29%, rgba(255, 255, 255, 0.8) 29% 32%, transparent 32% 35%, rgba(255, 255, 255, 0.8) 35% 40%, transparent 42% 45%, rgba(67, 66, 66, 0.7) 45% 55%, transparent 55% 58%, rgba(255, 255, 255, 0.8) 58% 61%, transparent 61%);
  opacity: 0.3;
  left: 0;
  top: 0;
  transition: 0.8s;
  z-index: 3;
  animation: toRight 6s infinite;
}

.button-r {
  position: relative;
  width: 460px;
  height: 76px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #393939;
}
.button-r:hover {
  transform: scale(1.03);
}
.button-r .path {
  transform: rotate(180deg) translate(-100%, -100%);
}
.button-r svg {
  width: 100%;
  height: 100%;
}
.button-r span {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button-r__wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
}

.textarea {
  resize: none;
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #DDB093;
  border-radius: 11px;
  background: #fff;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #DDB093;
  border-radius: 11px;
  background: #fff;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.input:focus {
  outline: none;
}

.input-r {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(64, 64, 64, 0.5);
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 40px;
  padding-right: 40px;
}
.input-r:focus {
  outline: none;
}

.input-wrap {
  height: 76px;
  width: 200px;
  position: relative;
}
.input-wrap__svg {
  width: 100%;
  height: 100%;
  stroke: url(#cl1);
}
.input-wrap .path {
  transform: rotate(180deg) translate(-100%, -100%);
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.label {
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 130%;
  color: #404040;
}

.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "Muller", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  text-align: center;
  margin: auto;
  color: #404040;
}
.section__overhead {
  font-family: "Muller", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  align-items: center;
  text-align: center;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 12px;
  margin-bottom: -145px;
}
.header__burger {
  display: none;
  width: 21px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__burger__line {
  height: 3px;
  width: 100%;
  border-radius: 1px;
  background: #fff;
}
.header__burger__line:nth-child(2n) {
  width: 17px;
}
.header__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 50px;
  text-decoration: none;
}
.header__link:last-child {
  margin-right: 0;
}
.header__button {
  background: rgba(255, 255, 255, 0.05);
  border: 0.891129px solid rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(44.5565px);
  backdrop-filter: blur(44.5565px);
  border-radius: 46.167px;
  box-shadow: none;
  height: auto;
  padding: 24px 0;
  width: 220px;
  font-size: 10px;
  display: inline-block;
  color: #fff;
}
.header__button img {
  margin-right: 14px;
  transform: translateY(3px);
}

.main {
  background: url(../img/main/bg.webp) no-repeat center bottom;
  padding-top: 230px;
  padding-bottom: 425px;
  margin-bottom: -500px;
}
.main__play {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #392D3C;
}
.main__play__button {
  cursor: pointer;
}
.main__play__arrow {
  margin: 0 17px 0 26px;
}
.main__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 67px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}
.main__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
  max-width: 444px;
}
.main__button {
  width: 260px;
  font-size: 14px;
  -webkit-clip-path: url(#svgPathMain);
  clip-path: url(#svgPathMain);
}

.advantages__card:nth-child(1) {
  transform: translateY(0px);
}
.advantages__card:nth-child(1)::before {
  transform: skew(0, -10deg);
}

.advantages__card:nth-child(2) {
  transform: translateY(26px);
}
.advantages__card:nth-child(2)::before {
  transform: skew(0, -10deg);
}

.advantages__card:nth-child(3) {
  transform: translateY(52px);
}
.advantages__card:nth-child(3)::before {
  transform: skew(0, -10deg);
}

.advantages__card:nth-child(4) {
  transform: translateY(78px);
}
.advantages__card:nth-child(4)::before {
  transform: skew(0, -10deg);
}

.advantages__card:nth-child(5) {
  transform: translateY(104px);
}
.advantages__card:nth-child(5)::before {
  transform: skew(0, -10deg);
}

.advantages__card:nth-child(6) {
  transform: translateY(0px);
}

.advantages__card:nth-child(7) {
  transform: translateY(26px);
}

.advantages__card:nth-child(8) {
  transform: translateY(52px);
}

.advantages__card:nth-child(9) {
  transform: translateY(78px);
}

.advantages__card:nth-child(10) {
  transform: translateY(104px);
}

.advantages__card:nth-child(1) {
  z-index: 1;
}

.advantages__card:nth-child(2) {
  z-index: 2;
}

.advantages__card:nth-child(3) {
  z-index: 3;
}

.advantages__card:nth-child(4) {
  z-index: 4;
}

.advantages__card:nth-child(5) {
  z-index: 5;
}

.advantages__card:nth-child(6) {
  z-index: 6;
}

.advantages__card:nth-child(7) {
  z-index: 7;
}

.advantages__card:nth-child(8) {
  z-index: 8;
}

.advantages__card:nth-child(9) {
  z-index: 9;
}

.advantages__card:nth-child(10) {
  z-index: 10;
}

.advantages {
  margin-bottom: 110px;
}
.advantages__footer {
  display: flex;
  gap: 30px;
}
.advantages__link {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.advantages__link:hover {
  transform: translateY(-5px);
}
.advantages__row {
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 50px;
  margin-bottom: 85px;
}
.advantages__card {
  width: 190px;
  min-height: 225px;
  background: linear-gradient(to bottom, transparent 60px, #fff 60px);
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 46px 22px 10px 28px;
  position: relative;
}
.advantages__card::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 12px;
  background: #fff;
  width: 100%;
  height: 100px;
  border-radius: 28px;
  transform: skew(0, 10deg);
}
.advantages__card--hidden {
  opacity: 0;
  visibility: hidden;
}
.advantages__card__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  color: #404040;
}
.advantages__card__text span {
  font-weight: 800;
}
.advantages__card__img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 98, 161, 0.05);
  border-radius: 18.16px;
  margin-bottom: 20px;
}

.we {
  margin-bottom: 100px;
}
.we__img {
  position: relative;
}
.we__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F2F7FA;
  border-radius: 50px;
  z-index: -1;
  bottom: -20px;
  left: -20px;
}
.we__title {
  margin-bottom: 55px;
  max-width: 444px;
}
.we__box {
  max-width: 534px;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #5F6264;
}
.we__text {
  margin-bottom: 20px;
}
.we__ul {
  padding-left: 20px;
}
.we__li {
  margin-bottom: 15px;
}

.catalog {
  background: url(../img/catalog/bg.jpg) no-repeat center/cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
.catalog__wrap {
  width: 100%;
  background: #554C58;
  border-radius: 50px;
  height: 254px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-top: -188px;
  position: relative;
  z-index: 1;
}
.catalog__wrap__arrow {
  position: absolute;
  width: 61px;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  border-radius: 50px 0 0 50px;
}
.catalog__wrap__arrow--next {
  left: auto;
  right: 0;
  border-radius: 0 50px 50px 0;
}
.catalog__window {
  overflow: hidden;
  margin: 0 61px;
  position: relative;
  z-index: 2;
}
.catalog__field {
  display: flex;
  align-items: stretch;
  gap: 26px;
  transition: 0.3s;
}
.catalog__card {
  min-width: 240px;
  width: 240px;
  min-height: 426px;
  background: linear-gradient(to bottom, transparent 66px, #fff 66px);
  border-radius: 30px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.catalog__card::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  background: #fff;
  border-radius: 30px;
  width: 100%;
  height: 100px;
  transform: skewY(10deg);
}
.catalog__card__top, .catalog__card__bottom {
  position: relative;
  z-index: 2;
}
.catalog__card__details {
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: rgba(64, 64, 64, 0.8);
  cursor: pointer;
}
.catalog__card__price {
  font-weight: 800;
  font-size: 25px;
  line-height: 120%;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}
.catalog__card__description {
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  color: rgba(64, 64, 64, 0.7);
}
.catalog__card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
  margin-bottom: 14px;
}
.catalog__card__img {
  width: 100%;
  height: 150px;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 16px;
  -webkit-clip-path: path("M 0,25 Q 0,0 25,0 L 179,27 Q 200,31 200,52 L 200,125 Q 200,150 175,150 L 25,150 Q 0,150 0,125 L 0,25 Z");
  clip-path: path("M 0,25 Q 0,0 25,0 L 179,27 Q 200,31 200,52 L 200,125 Q 200,150 175,150 L 25,150 Q 0,150 0,125 L 0,25 Z");
}
.catalog__card__img img {
  max-width: none;
  min-width: 100%;
  min-height: 100%;
}
.catalog__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.catalog__link span {
  margin-right: 13px;
}
.catalog__title {
  color: #fff;
  margin-bottom: 55px;
  max-width: 444px;
}
.catalog__buttons {
  display: flex;
  justify-content: center;
  gap: 20px 45px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.catalog__buttons__elem {
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
  position: relative;
}
.catalog__buttons__elem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #AA8A5D, #EFC484, #C9A36F, #AB8B5D);
  display: none;
}
.catalog__buttons__elem--active {
  font-weight: 800;
}
.catalog__buttons__elem--active::after {
  display: block;
}

.send {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/send/bg.jpg) no-repeat center/cover, #0068D6;
  margin-bottom: 100px;
}
.send__button {
  margin: auto;
  display: block;
}
.send__label {
  margin-bottom: 14px;
  padding-left: 8px;
}
.send__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  gap: 40px;
}
.send__input-group {
  max-width: 460px;
  margin-bottom: 0;
}
.send__input-wrap {
  width: 100%;
}
.send__title {
  margin-bottom: 80px;
}
.send__container {
  background: #FFFFFF;
  border-radius: 70px;
  padding: 60px 86px 104px;
}
.send__button {
  -webkit-clip-path: url(#svgPathSend);
  clip-path: url(#svgPathSend);
}

.faq {
  margin-bottom: 100px;
}
.faq__title {
  margin-bottom: 70px;
}
.faq__title::after {
  left: 100px;
}
.faq__item {
  padding: 0 100px;
  margin-bottom: 35px;
  transition: 0.3s;
  position: relative;
}
.faq__item::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: calc(100% - 200px);
  background: #444444;
}
.faq__item * {
  transition: 0.3s;
}
.faq__item:last-child {
  margin-bottom: 0;
}
.faq__item--active {
  background: #fff;
  padding-top: 35px;
  padding-bottom: 45px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.faq__item--active::after {
  display: none;
}
.faq__item--active .faq__item__text {
  height: auto;
}
.faq__item--active .faq__item__arrow {
  transform: rotateX(180deg);
}
.faq__item--active .faq__item__header {
  border: none;
}
.faq__item__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  height: 0;
  overflow: hidden;
  max-width: 560px;
}
.faq__item__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 35px;
  cursor: pointer;
}
.faq__item__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  margin-right: 30px;
}

.footer {
  background: url(../img/footer/bg.png) no-repeat center top;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__logo {
  transform: translateY(20px);
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer__tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.footer__tel img {
  margin-right: 8px;
}
.footer__nav {
  display: flex;
  gap: 50px;
}
.footer__row {
  align-items: flex-end;
  margin-bottom: 80px;
}
.footer__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
}

.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.modal--active {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.modal-video__container {
  position: relative;
  padding: 0;
}
.modal-video__dialog {
  position: relative;
  z-index: 1;
}
.modal-video__video {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  max-height: 100vh;
}
.modal-video__close {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.modal-det__ul {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #5F6264;
  padding-left: 20px;
}
.modal-det__li {
  margin-bottom: 10px;
}
.modal-det__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.modal-det__description__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #5F6264;
  margin-bottom: 10px;
}
.modal-det__description__box {
  max-width: 450px;
}
.modal-det__button {
  -webkit-clip-path: url(#svgPathModalDet);
  clip-path: url(#svgPathModalDet);
  width: 100%;
  max-width: 260px;
  margin: auto;
  display: block;
}
.modal-det__charact__item {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}
.modal-det__charact__item:last-child {
  margin-bottom: 0;
}
.modal-det__charact__item__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 120%;
  color: #404040;
}
.modal-det__charact__item__header {
  display: flex;
  align-items: flex-start;
  width: 165px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
}
.modal-det__charact__item__header img {
  margin-right: 30px;
  min-width: 20px;
  width: 20px;
}
.modal-det__charact__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  color: #404040;
  margin-bottom: 35px;
}
.modal-det__row {
  display: flex;
  gap: 50px;
  margin-bottom: 65px;
}
.modal-det__slider__progress {
  width: 100%;
  max-width: 414px;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  position: relative;
}
.modal-det__slider__progress__inner {
  width: 30%;
  position: absolute;
  left: 0;
  top: -2px;
  bottom: -2px;
  background: linear-gradient(to right, #AA8A5D, #EFC484, #C9A36F, #AB8B5D);
  border-radius: 2px;
  transition: 0.3s;
}
.modal-det__slider__card {
  cursor: pointer;
  position: relative;
  padding: 2px;
  min-width: 126px;
  width: 126px;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-det__slider__card--active::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: linear-gradient(to right bottom, #AA8A5D, #EFC484, #C9A36F, #AB8B5D);
  width: 100%;
  height: 100%;
}
.modal-det__slider__card__content {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.modal-det__slider__wrap {
  position: relative;
  margin-bottom: 35px;
}
.modal-det__slider__window {
  margin: auto;
  width: 100%;
  max-width: 426px;
  overflow: hidden;
}
.modal-det__slider__row {
  display: flex;
  gap: 24px;
  transition: 0.3s;
}
.modal-det__slider__arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.modal-det__slider__arrow--next {
  left: auto;
  right: 0;
}
.modal-det__slider__main {
  width: 490px;
  height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 25px;
}
.modal-det__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  color: #404040;
  text-align: center;
  margin-bottom: 55px;
}
.modal-det__dialog {
  width: 100%;
  max-width: 1160px;
  background: #fff;
  border-radius: 80px;
  position: relative;
  padding: 85px 78px 70px;
}
.modal-det__close {
  position: absolute;
  top: 84px;
  right: 72px;
  cursor: pointer;
}
.modal-main__input-group {
  margin-bottom: 30px;
}
.modal-main__input-group:last-child {
  margin-bottom: 50px;
}
.modal-main__input-wrap {
  width: 100%;
}
.modal-main__label {
  margin-bottom: 14px;
  padding-left: 8px;
}
.modal-main__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #5F6264;
  margin-bottom: 45px;
}
.modal-main__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.modal-main__wrap {
  max-width: 460px;
}
.modal-main__dialog {
  background: url(../img/modal/bg.png) no-repeat 425px center, #fff;
  border-radius: 80px;
  position: relative;
  padding: 100px;
  width: 100%;
  max-width: 1160px;
}
.modal-main__button {
  width: 100%;
  max-width: 385px;
  -webkit-clip-path: url(#svgPathModal);
  clip-path: url(#svgPathModal);
}
.modal-main__close {
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 70px;
}

.menu {
  position: fixed;
  z-index: 198;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  display: none;
}
.menu--active {
  visibility: visible;
  opacity: 1;
}
.menu--active .menu__dialog {
  transform: none;
}
.menu__footer {
  display: flex;
  justify-content: space-between;
}
.menu__footer__link {
  text-decoration: none;
}
.menu__dialog {
  position: relative;
  background: #fff;
  padding: 88px 60px;
  min-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu__tel {
  display: block;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #434343;
  text-decoration: none;
  margin-bottom: 50px;
}
.menu__tel img {
  margin-right: 10px;
}
.menu__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #494C50;
  margin-bottom: 35px;
}
.menu__box {
  margin-bottom: 30px;
}
.menu__link {
  display: block;
  font-weight: normal;
  font-size: 22px;
  line-height: 130%;
  color: rgba(67, 67, 67, 0.8);
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}
.menu__link:last-child {
  margin-bottom: 0;
}
.menu__logo {
  margin-bottom: 77px;
  width: 180px;
}
.menu__close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.directory {
  padding-top: 200px;
  background: url(../img/directory/bg.webp) no-repeat center top/100%;
}
.directory__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.directory__pagination__item {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #434343;
  border-radius: 50%;
  border: 1px solid transparent;
}
.directory__pagination__item--active {
  border: 1px solid #000000;
}
.directory__row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1156px;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  margin-bottom: 70px;
}
.directory__card {
  width: 50%;
  display: flex;
  align-items: stretch;
  gap: 30px;
  padding: 45px;
  border-radius: 28px;
}
.directory__card--active {
  background: #FFFFFF;
  box-shadow: 0px 0px 56.129px rgba(0, 0, 0, 0.15);
}
.directory__card__wrap {
  margin-bottom: 15px;
}
.directory__card__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: rgba(64, 64, 64, 0.8);
  gap: 10px;
  cursor: pointer;
}
.directory__card__price {
  font-weight: 900;
  font-size: 23px;
  line-height: 120%;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.directory__card__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: rgba(64, 64, 64, 0.7);
  margin-bottom: 20px;
}
.directory__card__box {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.directory__card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
  margin-bottom: 30px;
}
.directory__card__img {
  min-width: 276px;
  width: 276px;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 14px;
}
.directory__card__img img {
  max-width: none;
}
.directory__filter {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 56.129px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 58px;
  margin-bottom: 60px;
}
.directory__filter__button {
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  box-shadow: inset 0px -2.58462px 3px rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #393939;
  border: none;
  width: 203px;
  height: 46px;
  cursor: pointer;
  -webkit-clip-path: path("M 13,0 Q 3,0 3,10 Q 0,23 3,36 Q 3,46 13,46 H 190 Q 200,46 200,36 Q 203,23 200,10 Q 200,0 190,0 H 13 Z");
  clip-path: path("M 13,0 Q 3,0 3,10 Q 0,23 3,36 Q 3,46 13,46 H 190 Q 200,46 200,36 Q 203,23 200,10 Q 200,0 190,0 H 13 Z");
  transition: 0.3s;
}
.directory__filter__button:hover {
  transform: scale(1.02);
}
.directory__filter__rooms {
  display: flex;
}
.directory__filter__rooms__radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.directory__filter__rooms__radio__ok {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  position: relative;
}
.directory__filter__rooms__radio__ok::after {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  display: none;
}
.directory__filter__rooms__radio__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #404040;
}
.directory__filter__rooms__radio__input {
  display: none;
}
.directory__filter__rooms__radio__input:checked + .directory__filter__rooms__radio__ok::after {
  display: block;
}
.directory__filter__rooms__row {
  display: flex;
  gap: 20px;
}
.directory__filter__rooms__title {
  margin-right: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
  display: flex;
  align-items: center;
}
.directory__filter__rooms__title img {
  margin-right: 20px;
}
.directory__filter__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.directory__filter__row--top {
  margin-bottom: 30px;
}
.directory__filter__input-group {
  margin-bottom: 0;
}
.directory__filter__input-group--date {
  width: 25%;
}
.directory__filter__input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 13px;
  line-height: 130%;
  color: rgba(67, 67, 67, 0.6);
  padding: 14px;
}
.directory__filter__input:focus {
  outline: none;
}
.directory__filter__input--left {
  border-right: none;
}
.directory__filter__input--date {
  padding: 10px 10px 10px 20px;
  position: relative;
  padding-left: 45px;
}
.directory__filter__input--date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  background: url(../img/directory/icon3.png) no-repeat center;
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-width: thin;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}
.directory__filter__wrap {
  display: flex;
  width: 100%;
}
.directory__filter__block {
  width: 50%;
}
.directory__filter__block__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  color: #404040;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.directory__filter__tabs {
  display: flex;
  gap: 35px;
  margin-bottom: 50px;
}
.directory__filter__tabs__item {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #434343;
  cursor: pointer;
  position: relative;
}
.directory__filter__tabs__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  display: none;
}
.directory__filter__tabs__item--active {
  background: linear-gradient(83.57deg, #AA8A5D 5.68%, #EFC484 37.6%, #C9A36F 68%, #AB8B5D 94.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 800;
}
.directory__filter__tabs__item--active::after {
  display: block;
}

@media screen and (max-width: 1200px) {
  .directory__pagination {
    margin-bottom: 60px;
  }
  .directory__row {
    max-width: 800px;
  }
  .directory__card {
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
  }
  .directory__card__button img {
    width: 24px;
  }
  .directory__card__description {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .directory__card__price {
    font-size: 18px;
  }
  .directory__card__title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .directory__card__img {
    min-width: 156px;
    width: 156px;
    height: 190px;
    border-radius: 14px;
  }
  .directory__filter {
    max-width: 628px;
    margin: auto;
    margin-bottom: 40px;
  }
  .directory__filter__button {
    margin: auto;
    margin-top: 30px;
  }
  .directory__filter__block {
    width: 100%;
    margin-bottom: 30px;
  }
  .directory__filter__rooms {
    width: 50%;
    flex-direction: column;
    padding-left: 20px;
  }
  .directory__filter__rooms__title {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .directory__filter__input-group--date {
    width: 50%;
  }
  .directory__filter__input--date {
    padding: 15px 15px 15px 45px;
  }
  .directory__filter__input--center {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }
  .directory__filter__row {
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;
  }
  .directory__filter__row--top {
    flex-direction: column;
  }
  .modal-det__li {
    margin-bottom: 5px;
  }
  .modal-det__ul {
    font-size: 14px;
  }
  .modal-det__description {
    margin-bottom: 45px;
  }
  .modal-det__description__box {
    max-width: 380px;
  }
  .modal-det__description__title {
    font-size: 16px;
  }
  .modal-det__row {
    gap: 0;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .modal-det__charact__item {
    gap: 30px;
  }
  .modal-det__charact__item__text {
    font-size: 15px;
  }
  .modal-det__charact__item__header {
    font-size: 14px;
    width: 145px;
    min-width: 145px;
  }
  .modal-det__charact__item__header img {
    margin-right: 20px;
  }
  .modal-det__dialog {
    border-radius: 40px;
    padding: 75px 38px;
    max-width: 870px;
  }
  .modal-det__close {
    width: 20px;
    top: 36px;
    right: 33px;
  }
  .modal-det__title {
    margin-bottom: 42px;
  }
  .modal-det__slider__wrap {
    margin-bottom: 20px;
  }
  .modal-det__slider__progress {
    max-width: 250px;
  }
  .modal-det__slider__arrow {
    width: 6px;
  }
  .modal-det__slider__window {
    max-width: 250px;
  }
  .modal-det__slider__row {
    gap: 14px;
  }
  .modal-det__slider__card {
    width: 74px;
    min-width: 74px;
    height: 52px;
  }
  .modal-det__slider__main {
    width: 285px;
    height: 194px;
    margin-bottom: 14px;
  }
  .catalog__container {
    max-width: 894px;
  }
  .we__img {
    margin-bottom: 65px;
  }
  .we__img::before {
    left: 0;
    bottom: -22px;
  }
  .we__row {
    flex-direction: column;
  }
  .advantages__container {
    max-width: 910px;
  }
  .advantages__card::before {
    transform: skew(0, 10deg) !important;
  }
  .advantages__card--hidden {
    display: none;
  }
  .advantages__card:nth-child(1) {
    transform: translateY(0px);
  }
  .advantages__card:nth-child(2) {
    transform: translateY(26px);
  }
  .advantages__card:nth-child(3) {
    transform: translateY(52px);
  }
  .advantages__card:nth-child(4) {
    transform: translateY(78px);
  }
  .advantages__card:nth-child(5) {
    transform: translateY(104px);
  }
  .advantages__card:nth-child(6) {
    transform: translateY(130px);
  }
  .main {
    margin-bottom: -420px;
  }
  .main__title {
    font-size: 48px;
  }
  .header__link {
    margin-right: 30px;
  }
}
@media screen and (max-width: 991px) {
  .section__title {
    font-size: 20px;
  }
  .directory {
    padding-top: 145px;
  }
  .directory__filter {
    padding: 40px;
  }
  .directory__filter__rooms__title img {
    margin-right: 15px;
  }
  .directory__filter__tabs {
    margin-bottom: 40px;
  }
  .directory__filter__tabs__item {
    font-size: 16px;
  }
  .footer {
    background: url(../img/footer/bgC.png) no-repeat center top;
  }
  .footer__logo {
    margin-bottom: 50px;
  }
  .footer__nav {
    margin-bottom: 70px;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .faq {
    margin-bottom: 60px;
  }
  .faq__item {
    margin-bottom: 30px;
    padding: 0 80px;
  }
  .faq__item::after {
    width: calc(100% - 160px);
  }
  .faq__item--active {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
  }
  .faq__item__text {
    font-size: 16px;
  }
  .faq__item__arrow {
    width: 14px;
    margin-top: 5px;
  }
  .faq__item__header {
    padding-bottom: 25px;
  }
  .faq__item__title {
    font-size: 20px;
  }
  .faq__title {
    margin-bottom: 60px;
  }
  .send {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .send__button {
    max-width: 325px;
    font-size: 16px;
  }
  .send__box {
    margin-bottom: 50px;
  }
  .send__title {
    margin-bottom: 60px;
  }
  .send__container {
    padding: 60px 30px 70px;
    border-radius: 40px;
    max-width: 750px;
  }
  .catalog {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  .catalog__overhead, .catalog__title, .catalog__buttons, .catalog__link {
    padding: 0 20px;
  }
  .catalog__wrap {
    margin-top: -207px;
    padding: 20px;
  }
  .catalog__wrap__arrow {
    width: 50px;
  }
  .catalog__container {
    max-width: 606px;
  }
  .catalog__window {
    margin: 0 50px;
  }
  .catalog__title {
    margin-bottom: 46px;
    max-width: 380px;
  }
  .catalog__link {
    font-size: 16px;
  }
  .catalog__buttons__elem {
    font-size: 16px;
  }
  .we__img::before {
    border-radius: 32px;
  }
  .we__title {
    margin-bottom: 50px;
    max-width: 350px;
  }
  .we__box {
    font-size: 16px;
    max-width: 360px;
  }
  .we__text {
    margin-bottom: 10px;
  }
  .we__li {
    margin-bottom: 10px;
  }
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__footer {
    justify-content: center;
  }
  .advantages__container {
    max-width: 552px;
  }
  .advantages__card {
    width: 164px;
    min-height: 195px;
    padding: 40px 20px 10px 25px;
  }
  .advantages__card__img {
    width: 52px;
    height: 52px;
    border-radius: 12px;
    margin-bottom: 10px;
  }
  .advantages__card__text {
    font-size: 13px;
  }
  .advantages__row {
    gap: 50px 30px;
  }
  .advantages__card:nth-child(1) {
    transform: translateY(0px);
  }
  .advantages__card:nth-child(2) {
    transform: translateY(26px);
  }
  .advantages__card:nth-child(3) {
    transform: translateY(52px);
  }
  .advantages__card:nth-child(4) {
    transform: translateY(78px);
  }
  .advantages__card:nth-child(5) {
    transform: translateY(104px);
  }
  .advantages__card:nth-child(6) {
    transform: translateY(26px);
  }
  .advantages__card:nth-child(7) {
    transform: translateY(52px);
  }
  .advantages__card:nth-child(8) {
    transform: translateY(78px);
  }
  .advantages__card:nth-child(9) {
    transform: translateY(26px);
  }
  .advantages__card:nth-child(10) {
    transform: translateY(52px);
  }
  .modal-det__button {
    max-width: none;
  }
  .modal-det__description {
    flex-direction: column;
  }
  .modal-det__description__box:first-child {
    margin-bottom: 40px;
  }
  .modal-det__dialog {
    max-width: 400px;
  }
  .modal-det__slider {
    margin-bottom: 50px;
  }
  .modal-det__row {
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin: auto;
    margin-bottom: 50px;
  }
  .modal-main__title {
    font-size: 25px;
  }
  .modal-main__close {
    top: 33px;
    right: 33px;
  }
  .modal-main__dialog {
    max-width: 400px;
    border-radius: 40px;
    padding: 85px 25px;
  }
  .main {
    padding-top: 150px;
    padding-bottom: 250px;
    background: url(../img/main/bgC.webp) no-repeat center bottom;
    margin-bottom: -250px;
  }
  .main__play {
    margin-right: 80px;
  }
  .main__play__arrow {
    margin: 0 10px 0 22px;
  }
  .main__title {
    font-size: 29px;
    margin-bottom: 22px;
  }
  .main__text {
    font-size: 12px;
    max-width: 270px;
    margin-bottom: 40px;
  }
  .main__button {
    font-size: 12px;
    width: 220px;
    -webkit-clip-path: url(#svgPathMainM);
    clip-path: url(#svgPathMainM);
    height: 66px;
  }
  .menu {
    display: flex;
  }
  .header {
    margin-bottom: -91px;
  }
  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__burger {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .directory {
    background: url(../img/directory/bgM.webp) no-repeat center top;
  }
  .directory__card {
    width: 100%;
  }
  .directory__row {
    flex-direction: column;
    align-items: center;
  }
  .faq {
    padding: 0;
  }
  .faq__title {
    padding: 0 20px;
  }
  .faq__item {
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .faq__item::after {
    width: calc(100% - 60px);
  }
  .send__button {
    max-width: none;
    width: 100%;
  }
  .send__container {
    max-width: 500px;
  }
  .send__box {
    flex-direction: column;
    align-items: center;
  }
  .advantages {
    overflow: hidden;
  }
  .advantages__container {
    max-width: 358px;
  }
  .advantages__row {
    gap: 30px 0;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 164px 164px;
  }
  .advantages__card:nth-child(2n) {
    transform: translateY(26px);
  }
  .advantages__card:nth-child(2n+1) {
    transform: none;
  }
  .main {
    background: url(../img/main/bgM.webp) no-repeat center bottom;
    padding-bottom: 240px;
    margin-bottom: -160px;
  }
  .main__text {
    margin-left: auto;
    margin-right: auto;
  }
  .main__button {
    margin: auto;
  }
  .main__box {
    margin-bottom: 50px;
    text-align: center;
  }
  .main__play {
    font-size: 12px;
    margin: 0;
  }
  .main__row {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .catalog__wrap {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__window {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 575px) {
  .directory__filter__button {
    margin-top: 50px;
  }
  .directory__filter__rooms {
    width: 100%;
    padding: 0;
  }
  .directory__filter__input-group--date {
    width: 100%;
    margin-bottom: 30px;
  }
  .directory__filter__input--left {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
  }
  .directory__filter__input--center {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .directory__filter__wrap {
    flex-direction: column;
  }
  .footer {
    background: url(../img/footer/bgM.png) no-repeat center top;
  }
  .footer__socials {
    gap: 25px;
  }
  .footer__socials__img {
    width: 42px;
  }
  .footer__nav {
    flex-direction: column;
    gap: 30px;
  }
  .footer__link {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .directory__card {
    flex-direction: column;
  }
  .directory__card__img {
    height: 100px;
  }
  .send__container {
    padding: 60px 20px 70px;
  }
}
@media screen and (max-height: 750px) {
  .menu__dialog {
    padding: 88px 50px 50px;
  }
  .menu__logo {
    margin-bottom: 40px;
  }
}